.display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 960px) {   
    .cocktail-flex{
        display: flex;
        justify-content: space-between;
        width: 70%;
        gap: 3em;
    }
}
