body{
    /* margin:0; */
}
.heading{
    height:7em;
    background: rgb(9,86,121);
background: linear-gradient(5deg, rgba(9,86,121,0.8113839285714286) 35%, rgba(119,255,0,0.186734068627451) 100%);
    /* background: rgb(19,121,9);
background: linear-gradient(90deg, rgba(19,121,9,1) 35%, rgba(0,255,184,1) 100%); */
    margin: 0 auto;   
}
 .heading-h1{
    color: bisque;
    font-size: 1.5em;
    margin: 0 auto;
    line-height: 1.5em;
    text-align: center;
 }
@media (min-width:960px) {   
.heading-h1{
    font-size: 3em;
    line-height: 2.5em;
    padding-top: 0;
}
}

.sidearea{
    background: rgb(32,25,4);
background: linear-gradient(72deg, rgba(32,25,4,0.8113839285714286) 35%, rgba(4,10,1,0.9206276260504201) 100%);
}
@media (min-width: 700px) {
    .sidearea{
        max-width: 20%;
        
    }
}

.sidebarh2{
    margin-top: 0;
    text-align: center;
    color: rgb(173, 19, 27);
}

.sidebarptag {
    margin: 0 1em;
    color: rgb(181, 175, 168); 
}

.options{
    display: flex;
    flex-wrap: wrap;
    gap: .2em ;
}

@media (min-width: 700px) {    
    .options{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:.6em;
    }
}

.cocktail-btn {
    font-size: 16px;
    margin: .5em 0;
    border-radius: 1em;
    width: 10em;
    background-color: rgb(173, 19, 27);
    color: rgb(181, 175, 168);
}

.cocktail-btn:hover{
    background: rgb(92,121,174);
    background: linear-gradient(56deg, rgba(92,121,174,0.7035407913165266) 0%, rgba(167,10,174,1) 100%);
    position: relative;
    top: 4px;
}