.image-container{
    background-image: url("	https://cdn.diffords.com/contrib/stock-images/2023/05/64527fb40bc74.jpg");
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}