
.sign_in_form{
    transform: translateY(50%);
    border: solid 1px bisque;
    background-color: rgba(0, 0, 0, 0.5);
}

.sign_in_form h1{
    text-align: center;
    color:bisque
}
.sign_in_form h2, .sign_in_form p {
    text-align: center;
    margin: .5em auto;
    color: bisque;
}

label{
    color:bisque;
    font-size: 1em;
}
.s_i_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.3em;
   
}

.s_i_form input{
    padding: 1em;
    width: 25em;
    font-size: 1em;
    border-radius: 1em;
}

.s_i_form .submit{
    padding: 1em;
    margin: .5em 0;
    border-radius: 1em;
    width:8em;
}
