.singuporin{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 3em;
}

a{
    color: bisque;
    font-size: 3em;
    text-decoration: none;
}