/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
} */

.admin-container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
}

.navbar {
  width: 60%;
  margin-inline: 20% 5%;
  /* transform: translateX(8%); */
}

.navbar-link {
  text-decoration: none;
  padding: 10px;
  color: #333;
}

.button {
  background-color: #333;
  margin-inline: 8px;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

.button:focus {
  outline: none;
}

/* .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
} */

.update-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.update-form-input {
  margin: 10px 0;
  padding: 5px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.update-form-checkbox-label {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.update-form-checkbox-input {
  margin-right: 5px;
}

.update-form-submit {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.update-form-submit:hover {
  background-color: #555;
}

.update-form-submit:focus {
  outline: none;
}

/* ingredients */

/* .ingredients-container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
} */

.ingredients-heading {
  margin-bottom: 10px;
}

.ingredients-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredients-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: #eaeaea;
}

.ingredients-name {
  text-align: center;
  display: block;
  margin: 0;
}

.ingredient-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-top: 20px;
}

.ingredient-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px ;
}

.ingredient-buttons .ingredients-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.ingredient-buttons .ingredients-button:hover {
  background-color: #555;
}

.ingredient-buttons .ingredients-button:focus {
  outline: none;
}

/* ingredient form */

.ingredient-form-container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
}

.ingredient-form-heading {
  margin-bottom: 10px;
}

.ingredient-form-input {
  margin: 10px 0;
  padding: 5px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
}

.ingredient-form-select {
  margin: 3px 0;
  padding: 5px;
  width: 315px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ingredient-form-submit {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0 auto;
}

.ingredient-form-submit:hover {
  background-color: #555;
}

.ingredient-form-submit:focus {
  outline: none;
}

/* cocktail list */

.cocktail-list {
  margin-top: 20px;
  max-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  vertical-align: bottom;  
}

/* cocktail item */

.cocktail-item {
  background-color: #eaeaea;
  margin: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 21%;
  
  /* margin-left: auto;
  margin-right: auto; */
}

.cocktail-item h2 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.cocktail-item p {
  margin-bottom: 10px;
}

.cocktail-item img {
  width: 80%;
  height: calc(600px/4);
  object-fit: cover;
  border-radius: 4px;
  margin: 0 auto;
  
}

.cocktail-item .cocktail-details {
  text-align: center;
  margin-bottom: 10px;
}

.cocktail-item .cocktail-method,
.cocktail-item .cocktail-measurements {
  width: 80%;
  margin: 0 auto;
}


.cocktail-form-container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
}

.cocktail-form-heading {
  margin-bottom: 10px;
}

.cocktail-form-input {
  margin: 10px 0;
  padding: 5px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cocktail-form-select {
  margin: 10px 0;
  padding: 5px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cocktail-form-submit {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.cocktail-form-submit:hover {
  background-color: #555;
}

.cocktail-form-submit:focus {
  outline: none;
}

.cocktail-item-button {
    background-color: #333;
    color: #fff;
    border: none;
    margin: 7px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.ingredients-grid {
  margin: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

@media (min-width: 600px) {
  .ingredients-grid {
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}

  .update-form-checkbox-label {
    display: flex;
    align-items: center;
    width: 90%;
    color: #333;
    margin: 0 10px;

    justify-content: flex-start; /* Align checkbox and text to the start */
    gap: 5px; /* Adjust this for the gap between checkbox and text */
  }
  
  .update-form-checkbox-label input[type="checkbox"] {
    /* margin-right: -170px; */
    max-width: 80px;
  }
  
  .ingredients-list-grid {
    display: grid;
    gap: 10;
    grid-template-columns: repeat(auto-fit, minmax(16%, 1fr));
    gap: 20px;
  }
  
  @media (min-width: 600px) {
    .ingredients-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }