.selected-list {
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.122);
  letter-spacing: .5px;
}
.selected-list > div > h2 {
    text-decoration: underline;
}
.selected-list > div:first-child {
  border-bottom: 2px solid rgba(255, 255, 255, 0.426);
}

ul:has(.selected-ingredient) {
  padding: 10px;
}

.selected-ingredient {
  list-style-type: none;
  margin-bottom: 10px;
}
.selected-list-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px;

}

.selected-list-btn {
  justify-self: end;
  padding: 5px;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-left: 10px;
  color: red;
}
.selected-list-btn:hover{
    background-color: rgba(169, 169, 169, 0.695);
}
.selected-list-btn:active {
    box-shadow: 2px 2px 5px black;
}


.ingredient-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  margin-bottom: 80px;
}

.ingredient-box {
  width: 130px;
  block-size: fit-content;
  padding-top: 20px;
  min-inline-size: fit-content;
  cursor: pointer;
  /* Add transition property for smooth transformation */
  transition: transform 0.2s;
}

.ingredient-box:hover {
  /* transform property to scale the box on hover */
  transform: scale(1.2);
  text-shadow: 0 0 2px white;
  font-size: 1.1em;
}


/* display imange container */
img {
  width: 50px;
}

.display-cocktail {
  width: 70%;
  margin: 10px;
  border-radius: 10px;
}

/* ////// ///// ////// Spirits Container ////// /////// ////// */
.category-container {
  width: 60%;
}
.cocktail-container {
  width: 40%;
}
