@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */

body {
    /* display: flex; */
    /* place-items: center; */
    /* min-height: 100vh; */
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
}
 
.banner {
    width: 90%;
    padding: 10px;
    height: 15em;
    margin: 20px auto;
    background: url("../public/cocktailbar.jpg") no-repeat center;
    background-size: cover ;
}

.container {
    max-width: 100%;
    padding: 10px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Philosopher', sans-serif;
    color: rgba(1, 53, 10, 0.898);
    margin: 0 auto;
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.block {
    display: block;
}

.ingredient-category {
    border: 3px solid grey;
    border-radius: 5px;
}

header {
    width: 100%;
}

a.font {
    color: rgb(62, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

.welcome {
    width: 85%;
    font-size: larger;
}

.signout-icon {
    width: 30px; 
    margin: auto 10px;   
    vertical-align: middle;
}

.selectionlist {
    width: 48%;
    margin: 5px;
    vertical-align: top;
}
.removepadding {
    padding: 0;
}
.generalise-list {
    list-style-type: none;
}

.cocktail-selection-list {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
}

.cocktail-selection-box {
    width: 130px;
    block-size: fit-content;
    /* border: 1px solid red; */
    padding-top: 20px;
    min-inline-size: fit-content;
    cursor: pointer;
    margin: 3px;
}

.cocktail-selection-button {
    margin-inline: auto;
}

.add-border {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}