.signin {
    background-image: url("https://www.shape.com/thmb/OimlHW5CZ-xI6nC4srb96zdgrCs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/cocktail-creation-0619-78e59d08-75698c3d30fb4fe482bebde0ae71df7c.jpg");
    height: 100vh;
    background-size: cover;
}

.log_in_form{
    border: solid 1px bisque;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.login-front-color {
    color:bisque;
    text-align: center;
}


.loginh2 {
    margin: .5em auto;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.3em; 
}

/* input{
    padding: 1em;
    width: 25em;
    font-size: 1em;
    border-radius: 1em;
} */

.submit{
    padding: 1em;
    margin: .5em 0;
    border-radius: 1em;
    width:8em;
}

.pointer {
    cursor: pointer;
}

.over-18-box {
    width: 100px;
}