.signup{
    display: flex;
    flex-direction: column;
}

.signup h1{
    font-size: 3em;
}

.signup p{
    font-size: 1.3em;
}
.singuporin{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 3em;
}

a{
    color: bisque;
    font-size: 3em;
    text-decoration: none;
}